{% macro render(links, depth) %}
  {% if links %}
    {% for link in links %}
      <ul style='padding: 0px 0px 0px 18px;'>
        {% if not loop.first and depth < 2 %}
          <p></p>
        {% endif %}
        <li>
          {% if link.url %}
            <a href="{{ link.url }}">{{link.title}}</a>
          {% else %}
            {{ link.title }}
          {% endif %}
          {% if link.note %}
            <em> - {{ link.note }}</em>
          {% endif %}
          {{ render(link.links, depth+1) }}
        </li>
      </ul>
    {% endfor %}
  {% endif %}
{% endmacro %}